body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* appintment */
.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.create label {
  text-align: left;
  display: block;
}
.create h2 {
  font-size: 20px;
  color: rgb(38, 89, 230);
  margin-bottom: 30px;
}
.create input, .create textarea, .create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.create button {
  background: rgb(38, 89, 230);
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}
/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: inherit;

  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: rgb(38, 89, 230);
  font-family: "Times New Roman", Times, serif;
  text-align: center;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 32px;
  text-decoration: none;
  padding: 10px;
  color: rgb(38, 89, 230);
}
.navbar a:hover {
  color: rgb(43, 92, 92);
}

.content {

  margin: 40px auto;
  padding: 20px;
}
.card-title{
  align-items: stretch;
}
.artists-header{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  text-align: center;
}
.artists-header span{
  color: rgb(38, 89, 230);
  font-size: 15px;

}
.artists-header h2{
  color: black;
  font-size: 40px;
  font-weight: bold;

}
.artists-header p{
  color: grey;
  font-size: 14px;

}

.card-body-my{
  background-color: grey;
  align-content: center;
  text-align: center;
}


.bg-overlay{
  text-align: left;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  align-items: flex-start;
}
.overlay-bg{
  text-align: center;
}
.overlay-title{
  color: black;
  font-size: 70px;

}
.navin-bg{
  display: flex;
  flex-direction: column-reverse;
  align-items: stretch;
}
.service-my{
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
